.local_types {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 100px;
}

.imagen_local {
	flex: 0;
	max-width: 100%;
}

.audio {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 782px) {
	.local_types {
		display: inline-block;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
	}
}
