.cloud_types {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 100px;
}

.imagen_nube {
	flex: 0;
	max-width: 100%
}

@media (max-width: 782px) {

	.cloud_types {
		display: inline-block;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
	}
	
	.imagen_nube {
		flex: 0;
		max-width: 100%
	}
}
